@{
    int order = 1;
    ViewData["Title"] = "Students";
}

@model List<Student>


<main class="container">
    <h1 class="text-center my-3">Bütün Tələbələr</h1>
    <article class="">
        <div class="d-flex justify-content-end my-2">

            <a class="btn btn-outline-dark" asp-action="addstudent" asp-controller="student"><i class="fa-solid fa-user-plus me-2"></i>Tələbə əlavə et</a>
        </div>


        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad Soyad</th>
                    <th>Cinsi</th>
                    <th>Eyni cins uyğynlaşma</th>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            <th>Əməliyyat</th>
                        }
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var stud in Model)
                {
                    <tr>
                        <th scope="row">@order</th>
                        <td>@stud.Name</td>
                        <td>
                            @(
                                stud.Gender ? "Kişi" : "Qadın"
                                )
                        </td>
                        <td>
                            @(
                                stud.SameGenderMatch ? "Eyni cins" : "Qarışıq"
                                )
                        </td>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <td>
                                    <a asp-action="delete" asp-controller="student" asp-route-id="@stud.Id" class="btn-danger btn delete-btn"><i class="fa-solid fa-user-xmark"></i> Sil</a>
                                </td>
                            }
                        }


                    </tr>
                    order++;
                }

            </tbody>
        </table>
    </article>
</main>

